{
  "openapi": "3.0.0",
  "info": {
    "title": "Harvest API v2",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.harvestapp.com"
    }
  ],
  "paths": {
    "/v2/company": {
      "get": {
        "summary": "Retrieve a company",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Company"
        ],
        "description": "Retrieves the company for the currently authenticated user. Returns a company object and a `200 OK` response code.\n\n[Link to documentation](https://help.getharvest.com/api-v2/company-api/company/company/#retrieve-a-company)"
      }
    },
    "/v2/contacts": {
      "get": {
        "summary": "List all contacts",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Only return contacts belonging to the client with the given ID.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return contacts that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list  ",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.  ",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients",
          "Contacts"
        ],
        "description": "Returns a list of your contacts. The contacts are returned sorted by creation date, with the most recently created contacts appearing first.\n\nThe response contains an object with a `contacts` property that contains an array of up to `per_page` contacts. Each entry in the array is a separate contact object. If no more contacts are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your contacts.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/contacts/#list-all-contacts)"
      },
      "post": {
        "summary": "Create a contact",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The ID of the client associated with this contact.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "The first name of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Gary"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "The last name of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Brookes"
          },
          {
            "name": "title",
            "in": "query",
            "description": "The title of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Owner"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The contact’s email address.",
            "schema": {
              "type": "string"
            },
            "example": "gary@example.com"
          },
          {
            "name": "phone_office",
            "in": "query",
            "description": "The contact’s office phone number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "phone_mobile",
            "in": "query",
            "description": "The contact’s mobile phone number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "fax",
            "in": "query",
            "description": "The contact’s fax number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients",
          "Contacts"
        ],
        "description": "Creates a new contact object. Returns a contact object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/contacts/#create-a-contact)"
      }
    },
    "/v2/contacts/{contact_id}": {
      "get": {
        "summary": "Retrieve a specific contact",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients",
          "Contacts"
        ],
        "description": "Retrieves the contact with the given ID. Returns a contact object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/contacts/#retrieve-a-contact)"
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "description": "The ID of the contact you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Contact ID>"
        }
      ],
      "patch": {
        "summary": "Update a contact",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The ID of the client associated with this contact.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "The first name of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Gary"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "The last name of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Brookes"
          },
          {
            "name": "title",
            "in": "query",
            "description": "The title of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "Owner"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The contact’s email address.",
            "schema": {
              "type": "string"
            },
            "example": "gary@example.com"
          },
          {
            "name": "phone_office",
            "in": "query",
            "description": "The contact’s office phone number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "phone_mobile",
            "in": "query",
            "description": "The contact’s mobile phone number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "fax",
            "in": "query",
            "description": "The contact’s fax number.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients",
          "Contacts"
        ],
        "description": "Updates the specific contact by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a contact object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/contacts/#update-a-contact)"
      },
      "delete": {
        "summary": "Delete a contact",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients",
          "Contacts"
        ],
        "description": "Delete a contact. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/contacts/#delete-a-contact)"
      }
    },
    "/v2/clients": {
      "get": {
        "summary": "List all clients",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Pass true to only return active clients and false to return inactive clients.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return clients that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.  ",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients"
        ],
        "description": "Returns a list of your clients. The clients are returned sorted by creation date, with the most recently created clients appearing first.\n\nThe response contains an object with a `clients` property that contains an array of up to `per_page` clients. Each entry in the array is a separate client object. If no more clients are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your clients.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/clients/#list-all-clients)"
      },
      "post": {
        "summary": "Create a client",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A textual description of the client.",
            "schema": {
              "type": "string"
            },
            "example": "Gary B."
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether the client is active, or archived. Defaults to true.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "address",
            "in": "query",
            "description": " A textual representation of the client’s physical address. May include new line characters.",
            "schema": {
              "type": "string"
            },
            "example": "42 Maple Hill Road"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency used by the client. If not provided, the company’s currency will be used. See a list of supported currencies: https://help.getharvest.com/api-v2/introduction/overview/supported-currencies/",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients"
        ],
        "description": "Creates a new client object. Returns a client object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/clients/#create-a-client)\n\n[List of supported currencies](https://help.getharvest.com/api-v2/introduction/overview/supported-currencies/)"
      }
    },
    "/v2/clients/{client_id}": {
      "get": {
        "summary": "Retrieve a specific client",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients"
        ],
        "description": "Retrieves the client with the given ID. Returns a client object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/clients/#retrieve-a-client)"
      },
      "parameters": [
        {
          "name": "client_id",
          "in": "path",
          "required": true,
          "description": "The ID of the client you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Client ID>"
        }
      ],
      "patch": {
        "summary": "Update a client",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A textual description of the client.",
            "schema": {
              "type": "string"
            },
            "example": "Gary B."
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether the client is active, or archived. Defaults to true.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "address",
            "in": "query",
            "description": " A textual representation of the client’s physical address. May include new line characters.",
            "schema": {
              "type": "string"
            },
            "example": "42 Maple Hill Road"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency used by the client. If not provided, the company’s currency will be used. See a list of supported currencies: https://help.getharvest.com/api-v2/introduction/overview/supported-currencies/",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients"
        ],
        "description": "Updates the specific client by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a client object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/clients/#update-a-client)\n\n[List of supported currencies](https://help.getharvest.com/api-v2/introduction/overview/supported-currencies/)"
      },
      "delete": {
        "summary": "Delete a client",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Clients"
        ],
        "description": "Delete a client. Deleting a client is only possible if it has no projects, invoices, or estimates associated with it. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/clients-api/clients/clients/#delete-a-client)"
      }
    },
    "/v2/expense_categories": {
      "get": {
        "summary": "List all expense categories",
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "description": "Pass true to only return active expense categories and false to return inactive expense categories.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "update_since",
            "in": "query",
            "description": "Only return expense categories that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses",
          "Expense Categories"
        ],
        "description": "Returns a list of your expense categories. The expense categories are returned sorted by creation date, with the most recently created expense categories appearing first.\n\n\nThe response contains an object with a `expense_categories` property that contains an array of up to `per_page` expense categories. Each entry in the array is a separate expense category object. If no more expense categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your expense categories.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/)"
      },
      "post": {
        "summary": "Create an expense category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the expense category.",
            "schema": {
              "type": "string"
            },
            "example": "Miscellaneous"
          },
          {
            "name": "unit_name",
            "in": "query",
            "description": "The unit name of the expense category.",
            "schema": {
              "type": "string"
            },
            "example": "mile"
          },
          {
            "name": "unit_price",
            "in": "query",
            "description": "The unit price of the expense category.\n",
            "schema": {
              "type": "number"
            },
            "example": "10.0"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether the expense category is active or archived.\n",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses",
          "Expense Categories"
        ],
        "description": "Retrieves the company for the currently authenticated user. Returns a company object and a `200 OK` response code.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/#create-an-expense-category)"
      }
    },
    "/v2/expense_categories/{expense_category_id}": {
      "get": {
        "summary": "Retrieve a specific expense category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses",
          "Expense Categories"
        ],
        "description": "Retrieves the company for the currently authenticated user. Returns a company object and a `200 OK` response code.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/#retrieve-an-expense-category)"
      },
      "parameters": [
        {
          "name": "expense_category_id",
          "in": "path",
          "required": true,
          "description": "The ID of the expense category you're retrieving.",
          "schema": {
            "type": "string"
          },
          "example": "<Expense Category ID>"
        }
      ],
      "patch": {
        "summary": "Update an expense category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the expense category.",
            "schema": {
              "type": "string"
            },
            "example": "Miscellaneous"
          },
          {
            "name": "unit_name",
            "in": "query",
            "description": "The unit name of the expense category.",
            "schema": {
              "type": "string"
            },
            "example": "mile"
          },
          {
            "name": "unit_price",
            "in": "query",
            "description": "The unit price of the expense category.\n",
            "schema": {
              "type": "number"
            },
            "example": "10.0"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Whether the expense category is active or archived.\n",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses",
          "Expense Categories"
        ],
        "description": "Updates the specific expense category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an expense category object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/#update-an-expense-category)"
      },
      "delete": {
        "summary": "Delete an expense category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses",
          "Expense Categories"
        ],
        "description": "Delete an expense category. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/#delete-an-expense-category)"
      }
    },
    "/v2/expenses": {
      "get": {
        "summary": "List all expenses",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Only return expenses belonging to the user with the given ID.\n",
            "schema": {
              "type": "string"
            },
            "example": "<User ID>"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Only return expenses belonging to the client with the given ID.\n",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Only return expenses belonging to the project with the given ID.",
            "schema": {
              "type": "string"
            },
            "example": "<Project ID>"
          },
          {
            "name": "is_billed",
            "in": "query",
            "description": "Pass true to only return expenses that have been invoiced and false to return expenses that have not been invoiced.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return expenses that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Only return expenses with a spent_date on or after the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-31"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Only return expenses with a spent_date on or before the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2020-01-31"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses"
        ],
        "description": "Returns a list of your expenses. If accessing this endpoint as an Admin, all expenses in the account will be returned. The expenses are returned sorted by the `spent_at` date, with the most recent expenses appearing first.\n\nThe response contains an object with a `expenses` property that contains an array of up to `per_page` expenses. Each entry in the array is a separate expense object. If no more expenses are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your expenses.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#list-all-expenses)"
      },
      "post": {
        "summary": "Create an expense",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "The ID of the project associated with this expense.",
            "schema": {
              "type": "string"
            },
            "example": "<Project ID>"
          },
          {
            "name": "expense_category_id",
            "in": "query",
            "description": "The ID of the expense category this expense is being tracked against.",
            "schema": {
              "type": "string"
            },
            "example": "<Expense Category ID>"
          },
          {
            "name": "spent_date",
            "in": "query",
            "description": "Date the expense occurred.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-31"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "The ID of the user associated with this expense. Defaults to the ID of the currently authenticated user.",
            "schema": {
              "type": "string"
            },
            "example": "<User ID>"
          },
          {
            "name": "units",
            "in": "query",
            "description": "The quantity of units to use in calculating the total_cost of the expense.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "total_cost",
            "in": "query",
            "description": "The total amount of the expense.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "notes",
            "in": "query",
            "description": "Textual notes used to describe the expense.\n",
            "schema": {
              "type": "string"
            },
            "example": "This is a note about the expense."
          },
          {
            "name": "billable",
            "in": "query",
            "description": "Whether this expense is billable or not. Defaults to true.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses"
        ],
        "description": "Creates a new expense object. Returns an expense object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#create-an-expense)"
      }
    },
    "/v2/expenses/{expense_id}": {
      "get": {
        "summary": "Retrieve a specific expense",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses"
        ],
        "description": "Retrieves the expense with the given ID. Returns an expense object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#retrieve-an-expense)"
      },
      "parameters": [
        {
          "name": "expense_id",
          "in": "path",
          "required": true,
          "description": "The ID of the expense you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Expense ID>"
        }
      ],
      "patch": {
        "summary": "Update an expense",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "The ID of the project associated with this expense.",
            "schema": {
              "type": "string"
            },
            "example": "<Project ID>"
          },
          {
            "name": "expense_category_id",
            "in": "query",
            "description": "The ID of the expense category this expense is being tracked against.",
            "schema": {
              "type": "string"
            },
            "example": "<Expense Category ID>"
          },
          {
            "name": "spent_date",
            "in": "query",
            "description": "Date the expense occurred.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-31"
          },
          {
            "name": "units",
            "in": "query",
            "description": "The quantity of units to use in calculating the total_cost of the expense.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "total_cost",
            "in": "query",
            "description": "The total amount of the expense.",
            "schema": {
              "type": "number"
            },
            "example": "10.0"
          },
          {
            "name": "notes",
            "in": "query",
            "description": "Textual notes used to describe the expense.\n",
            "schema": {
              "type": "string"
            },
            "example": "This is a note about the expense."
          },
          {
            "name": "billable",
            "in": "query",
            "description": "Whether this expense is billable or not.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "delete_receipt",
            "in": "query",
            "description": "Whether an attached expense receipt should be deleted. Pass true to delete the expense receipt.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses"
        ],
        "description": "Updates the specific expense by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an expense object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#update-an-expense)"
      },
      "delete": {
        "summary": "Delete an expense",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Expenses"
        ],
        "description": "Delete an expense. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#delete-an-expense)"
      }
    },
    "/v2/invoices/{invoice_id}": {
      "patch": {
        "summary": "Update an invoice line item",
        "parameters": [
          {
            "name": "line_items[0]id",
            "in": "query",
            "description": "The ID of the line item you want to update.",
            "schema": {
              "type": "string"
            },
            "example": "<Line Item ID>"
          },
          {
            "name": "line_items[0]kind",
            "in": "query",
            "description": "The name of an invoice item category. ",
            "schema": {
              "type": "string"
            },
            "example": "Product"
          },
          {
            "name": "line_items[0]description",
            "in": "query",
            "description": "Text description of the line item.",
            "schema": {
              "type": "string"
            },
            "example": "<Line Item Description>"
          },
          {
            "name": "line_items[0]unit_price",
            "in": "query",
            "description": "The individual price per unit.",
            "schema": {
              "type": "number"
            },
            "example": "13.95"
          },
          {
            "name": "line_items[0]quantity",
            "in": "query",
            "description": "The unit quantity of the item.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "line_items[0]taxed",
            "in": "query",
            "description": "Whether the invoice’s tax percentage applies to this line item. Defaults to false.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "line_items[0]taxed2",
            "in": "query",
            "description": "Whether the invoice’s tax2 percentage applies to this line item. Defaults to false.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Line Items"
        ],
        "description": "Update an exisitng line item on an invoice. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#update-an-invoice-line-item)\n\n[Invoice item categories](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/)"
      },
      "parameters": [
        {
          "name": "invoice_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Invoice ID>"
        }
      ],
      "get": {
        "summary": "Retrieve a specific invoice",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices"
        ],
        "description": "Retrieves the invoice with the given ID. Returns an invoice object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#retrieve-an-invoice)"
      },
      "delete": {
        "summary": "Delete an invoice",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices"
        ],
        "description": "Delete an invoice. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#delete-an-invoice)"
      }
    },
    "/v2/invoices/{invoice_id}/messages": {
      "get": {
        "summary": "List all messages for an invoice",
        "parameters": [
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return invoice messages that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account.",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token.",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Messages"
        ],
        "description": "Returns a list of messages associated with a given invoice. The invoice messages are returned sorted by creation date, with the most recently created messages appearing first.\n\n\nThe response contains an object with an `invoice_messages` property that contains an array of up to `per_page` messages. Each entry in the array is a separate message object. If no more messages are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your messages.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-messages/#list-all-messages-for-an-invoice)"
      },
      "parameters": [
        {
          "name": "invoice_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice that you're creating the message for.",
          "schema": {
            "type": "string"
          },
          "example": "<Invoice ID>"
        }
      ],
      "post": {
        "summary": "Create an invoice message",
        "parameters": [
          {
            "name": "recipients[0]email",
            "in": "query",
            "description": "Email of the message recipient.",
            "schema": {
              "type": "string"
            },
            "example": "gary@example.com"
          },
          {
            "name": "recipients[0]name",
            "in": "query",
            "description": "Name of the message recipient.",
            "schema": {
              "type": "string"
            },
            "example": "Gary C."
          },
          {
            "name": "subject",
            "in": "query",
            "description": "The message subject.",
            "schema": {
              "type": "string"
            },
            "example": "Past due invoice reminder: #1001 from API Examples"
          },
          {
            "name": "body",
            "in": "query",
            "description": "The message body.",
            "schema": {
              "type": "string"
            },
            "example": "Dear Customer,\\r\\n\\r\\nThis is a friendly reminder to let you know that Invoice 1001 is 144 days past due. If you have already sent the payment, please disregard this message. If not, we would appreciate your prompt attention to this matter.\\r\\n\\r\\nThank you for your business.\\r\\n\\r\\nCheers,\\r\\nAPI Examples"
          },
          {
            "name": "include_link_to_client_invoice",
            "in": "query",
            "description": "Whether to include a link to the client invoice in the message body. Not used when thank_you is true.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "attach_pdf",
            "in": "query",
            "description": "Whether to attach the invoice PDF to the message email.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "send_me_a_copy",
            "in": "query",
            "description": "Whether to email a copy of the message to the current user.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "thank_you",
            "in": "query",
            "description": "Whether this is a thank you message.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "The type of invoice event that occurred with the message: send, close, draft, re-open, or view.",
            "schema": {
              "type": "string"
            },
            "example": "send"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account.",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token.",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Messages"
        ],
        "description": "Creates a new invoice message object. Returns an invoice message object and a 201 Created response code if the call succeeded.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-messages/#create-an-invoice-message)"
      }
    },
    "/v2/invoices/{invoice_id}/messages/{message_id}": {
      "delete": {
        "summary": "Delete an invoice message",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account.",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token.",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Messages"
        ],
        "description": "Delete an invoice message. Returns a `200 OK` response code if the call succeeded.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-messages/#delete-an-invoice-message)"
      },
      "parameters": [
        {
          "name": "invoice_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice that contains the message you are deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Invoice ID>"
        },
        {
          "name": "message_id",
          "in": "path",
          "required": true,
          "description": "The ID of the message you are deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Message ID>"
        }
      ]
    },
    "/v2/invoice_item_categories": {
      "get": {
        "summary": "List all invoice item categories",
        "parameters": [
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return invoice item categories that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Item Categories"
        ],
        "description": "Returns a list of your invoice item categories. The invoice item categories are returned sorted by creation date, with the most recently created invoice item categories appearing first.\n\nThe response contains an object with a `invoice_item_categories` property that contains an array of up to `per_page` invoice item categories. Each entry in the array is a separate invoice item category object. If no more invoice item categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your invoice item categories.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/)"
      },
      "post": {
        "summary": "Create an invoice item category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the invoice item category.",
            "schema": {
              "type": "string"
            },
            "example": "Expense"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Item Categories"
        ],
        "description": "Creates a new invoice item category object. Returns an invoice item category object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/#create-an-invoice-item-category)"
      }
    },
    "/v2/invoice_item_categories/{invoice_item_category_id}": {
      "get": {
        "summary": "Retrieve a specific invoice item category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Item Categories"
        ],
        "description": "Retrieves the invoice item category with the given ID. Returns an invoice item category object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/#retrieve-an-invoice-item-category)"
      },
      "parameters": [
        {
          "name": "invoice_item_category_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice item category you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Invoice Item Category ID>"
        }
      ],
      "patch": {
        "summary": "Update an invoice item category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the invoice item category.",
            "schema": {
              "type": "string"
            },
            "example": "Expense"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Item Categories"
        ],
        "description": "Updates the specific invoice item category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an invoice item category object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/#update-an-invoice-item-category)"
      },
      "delete": {
        "summary": "Delete an invoice item category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices",
          "Invoice Item Categories"
        ],
        "description": "Delete an invoice item category. Deleting an invoice item category is only possible if `use_as_service` and `use_as_expense` are both false. Returns a `200 OK` response code if the call succeeded.\n\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/#delete-an-invoice-item-category)"
      }
    },
    "/v2/invoices": {
      "get": {
        "summary": "List all invoices",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Only return invoices belonging to the client with the given ID.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Only return invoices associated with the project with the given ID.",
            "schema": {
              "type": "string"
            },
            "example": "<Project ID>"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return invoices that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Only return invoices with an issue_date on or after the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Only return invoices with an issue_date on or before the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Only return invoices with a state matching the value provided. Options: draft, open, paid, or closed.",
            "schema": {
              "type": "string"
            },
            "example": "draft"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.  ",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.  ",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices"
        ],
        "description": "Returns a list of your invoices. The invoices are returned sorted by issue date, with the most recently issued invoices appearing first.\n\nThe response contains an object with a `invoices` property that contains an array of up to `per_page` invoices. Each entry in the array is a separate invoice object. If no more invoices are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your invoices.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#list-all-invoices)"
      },
      "post": {
        "summary": "Create a free-form invoice",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The ID of the client this invoice belongs to.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "retainer_id",
            "in": "query",
            "description": "The ID of the retainer associated with this invoice.",
            "schema": {
              "type": "string"
            },
            "example": "<Retainer ID>"
          },
          {
            "name": "estimate_id",
            "in": "query",
            "description": "The ID of the estimate associated with this invoice.",
            "schema": {
              "type": "string"
            },
            "example": "<Estimate ID>"
          },
          {
            "name": "number",
            "in": "query",
            "description": "If no value is set, the number will be automatically generated.",
            "schema": {
              "type": "integer"
            },
            "example": "5002"
          },
          {
            "name": "purchase_order",
            "in": "query",
            "description": "The purchase order number.",
            "schema": {
              "type": "integer"
            },
            "example": "115"
          },
          {
            "name": "tax",
            "in": "query",
            "description": "This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          },
          {
            "name": "tax2",
            "in": "query",
            "description": "This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.",
            "schema": {
              "type": "integer"
            },
            "example": "10"
          },
          {
            "name": "discount",
            "in": "query",
            "description": "This percentage is subtracted from the subtotal. Example: use 10.0 for 10.0%.",
            "schema": {
              "type": "number"
            },
            "example": "25.0"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "The invoice subject.",
            "schema": {
              "type": "string"
            },
            "example": "Invoice for Client Inc."
          },
          {
            "name": "notes",
            "in": "query",
            "description": "Any additional notes to include on the invoice.",
            "schema": {
              "type": "string"
            },
            "example": "For services rendered through February 23rd"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency used by the invoice. If not provided, the client’s currency will be used. See a list of supported currencies",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "issue_date",
            "in": "query",
            "description": "Date the invoice was issued. Defaults to today’s date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01"
          },
          {
            "name": "due_date",
            "in": "query",
            "description": "Date the invoice is due. Defaults to the issue_date if no payment_term is specified.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-15"
          },
          {
            "name": "payment_term",
            "in": "query",
            "description": "The timeframe in which the invoice should be paid. Defaults to custom. Options: upon receipt, net 15, net 30, net 45, or net 60.",
            "schema": {
              "type": "string"
            },
            "example": "upon receipt"
          },
          {
            "name": "line_items[0]kind",
            "in": "query",
            "description": "The name of an invoice item category.",
            "schema": {
              "type": "string"
            },
            "example": "Product"
          },
          {
            "name": "line_items[0]description",
            "in": "query",
            "description": "Text description of the first line item.",
            "schema": {
              "type": "string"
            },
            "example": "<Line Item Description>"
          },
          {
            "name": "line_items[0]unit_price",
            "in": "query",
            "description": "The individual price per unit.",
            "schema": {
              "type": "integer"
            },
            "example": "250"
          },
          {
            "name": "line_items[0]quantity",
            "in": "query",
            "description": "The unit quantity of the item.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "line_items[0]taxed",
            "in": "query",
            "description": "Whether the invoice’s tax percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "line_items[0]taxed2",
            "in": "query",
            "description": "Whether the invoice’s tax2 percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "line_items[1]kind",
            "in": "query",
            "description": "The name of an invoice item category.",
            "schema": {
              "type": "string"
            },
            "example": "product"
          },
          {
            "name": "line_items[1]description",
            "in": "query",
            "description": "Text description of the second line item.",
            "schema": {
              "type": "string"
            },
            "example": "<Line Item Description>"
          },
          {
            "name": "line_items[1]unit_price",
            "in": "query",
            "description": "The individual price per unit.",
            "schema": {
              "type": "integer"
            },
            "example": "100"
          },
          {
            "name": "line_items[1]quantity",
            "in": "query",
            "description": "The unit quantity of the item.",
            "schema": {
              "type": "integer"
            },
            "example": "3"
          },
          {
            "name": "line_items[1]taxed",
            "in": "query",
            "description": "Whether the invoice’s tax percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "line_items[1]taxed2",
            "in": "query",
            "description": "Whether the invoice’s tax2 percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Invoices"
        ],
        "description": "Creates a new invoice object. Returns an invoice object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#create-a-free-form-invoice)"
      }
    },
    "/v2/estimates/{estimate_id}": {
      "patch": {
        "summary": "Create an estimate line item",
        "parameters": [
          {
            "name": "line_items[0]kind",
            "in": "query",
            "description": "The name of an estimate item category. ",
            "schema": {
              "type": "string"
            },
            "example": "Product"
          },
          {
            "name": "line_items[0]description",
            "in": "query",
            "description": "Text description of the line item.",
            "schema": {
              "type": "string"
            },
            "example": "<Line Item Description>"
          },
          {
            "name": "line_items[0]unit_price",
            "in": "query",
            "description": "The individual price per unit.",
            "schema": {
              "type": "integer"
            },
            "example": "250"
          },
          {
            "name": "line_items[0]quantity",
            "in": "query",
            "description": "The unit quantity of the item.",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "line_items[0]taxed",
            "in": "query",
            "description": "Whether the estimate's tax percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "line_items[0]taxed2",
            "in": "query",
            "description": "Whether the estimate's tax2 percentage applies to this line item.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Line Items"
        ],
        "description": "Create a new line item on an estimate. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimates/#create-an-estimate-line-item)"
      },
      "parameters": [
        {
          "name": "estimate_id",
          "in": "path",
          "required": true,
          "description": "The ID of the estimate you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Estimate ID>"
        }
      ],
      "get": {
        "summary": "Retrieve a specific estimate",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates"
        ],
        "description": "Retrieves the estimate with the given ID. Returns an estimate object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimates/#retrieve-an-estimate)"
      },
      "delete": {
        "summary": "Delete an estimate",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates"
        ],
        "description": "Delete an estimate. Returns a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimates/#delete-an-estimate)"
      }
    },
    "/v2/estimate_item_categories": {
      "get": {
        "summary": "List all estimate item categories",
        "parameters": [
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return estimate item categories that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Item Categories"
        ],
        "description": "Returns a list of your estimate item categories. The estimate item categories are returned sorted by creation date, with the most recently created estimate item categories appearing first.\n\nThe response contains an object with a `estimate_item_categories` property that contains an array of up to `per_page` estimate item categories. Each entry in the array is a separate estimate item category object. If no more estimate item categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your estimate item categories.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#list-all-estimate-item-categories)"
      },
      "post": {
        "summary": "Create an estimate item category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the estimate item category.",
            "schema": {
              "type": "string"
            },
            "example": "Expense"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Item Categories"
        ],
        "description": "Creates a new estimate item category object. Returns an estimate item category object and a `201 Created` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#create-an-estimate-item-category)"
      }
    },
    "/v2/estimate_item_categories/{estimate_item_category_id}": {
      "get": {
        "summary": "Retrieve a specific estimate item category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Item Categories"
        ],
        "description": "Retrieves the estimate item category with the given ID. Returns an estimate item category object and a `200 OK` response code if a valid identifier was provided.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#retrieve-an-estimate-item-category)"
      },
      "parameters": [
        {
          "name": "estimate_item_category_id",
          "in": "path",
          "required": true,
          "description": "The ID of the estimate item category you're deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Estimate Item Category ID>"
        }
      ],
      "patch": {
        "summary": "Update an estimate item category",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the estimate item category.",
            "schema": {
              "type": "string"
            },
            "example": "Expenses"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Item Categories"
        ],
        "description": "Updates the specific estimate item category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an estimate item category object and a `200 OK` response code if the call succeeded.\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#update-an-estimate-item-category)"
      },
      "delete": {
        "summary": "Delete an estimate item category",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Item Categories"
        ],
        "description": "Delete an estimate item category. Returns a `200 OK` response code if the call succeeded.\n\n\n[Link to documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#delete-an-estimate-item-category)"
      }
    },
    "/v2/estimates/{estimate_id}/messages": {
      "get": {
        "summary": "List all messages for an estimate",
        "parameters": [
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return estimate messages that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account. ",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Messages"
        ],
        "description": "Returns a list of messages associated with a given estimate. The estimate messages are returned sorted by creation date, with the most recently created messages appearing first.\n\nThe response contains an object with an `estimate_messages` property that contains an array of up to `per_page` messages. Each entry in the array is a separate message object. If no more messages are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your messages.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-messages/#list-all-messages-for-an-estimate)"
      },
      "parameters": [
        {
          "name": "estimate_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice that you're creating the message for.",
          "schema": {
            "type": "string"
          },
          "example": "<Estimate ID>"
        }
      ],
      "post": {
        "summary": "Create an estimate message",
        "parameters": [
          {
            "name": "recipients[0]email",
            "in": "query",
            "description": "Email of the message recipient.",
            "schema": {
              "type": "string"
            },
            "example": "gary@example.com"
          },
          {
            "name": "recipients[0]name",
            "in": "query",
            "description": "Name of the message recipient.",
            "schema": {
              "type": "string"
            },
            "example": "Gary C."
          },
          {
            "name": "subject",
            "in": "query",
            "description": "The message subject.",
            "schema": {
              "type": "string"
            },
            "example": "Estimate Message Subject"
          },
          {
            "name": "body",
            "in": "query",
            "description": "The message body.",
            "schema": {
              "type": "string"
            },
            "example": "Estimate message body"
          },
          {
            "name": "send_me_a_copy",
            "in": "query",
            "description": "Whether to email a copy of the message to the current user.",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "If provided, runs an event against the estimate. Options: “accept”, “decline”, “re-open”, or “send”.",
            "schema": {
              "type": "string"
            },
            "example": "accept"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account.",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token.",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Messages"
        ],
        "description": "Creates a new estimate message object. Returns an estimate message object and a `201 Created` response code if the call succeeded.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-messages/#create-an-estimate-message)"
      }
    },
    "/v2/estimates/{estimate_id}/messages/{message_id}": {
      "delete": {
        "summary": "Delete an estimate message",
        "parameters": [
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "description": "The ID of your Harvest account.",
            "schema": {
              "type": "string"
            },
            "example": "{{HARVEST_ACCOUNT_ID}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your personal access token. ",
            "schema": {
              "type": "string"
            },
            "example": "{{ACCESS_TOKEN}}"
          }
        ],
        "responses": {},
        "tags": [
          "Estimates",
          "Estimate Messages"
        ],
        "description": "Delete an estimate message. Returns a `200 OK` response code if the call succeeded.\n\n[Link to Documentation](https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-messages/#delete-an-estimate-message)"
      },
      "parameters": [
        {
          "name": "estimate_id",
          "in": "path",
          "required": true,
          "description": "The ID of the invoice that contains the message you are deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Estimate ID>"
        },
        {
          "name": "message_id",
          "in": "path",
          "required": true,
          "description": "The ID of the message you are deleting.",
          "schema": {
            "type": "string"
          },
          "example": "<Message ID>"
        }
      ]
    },
    "/v2/estimates": {
      "get": {
        "summary": "List all estimates",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Only return estimates belonging to the client with the given ID.",
            "schema": {
              "type": "string"
            },
            "example": "<Client ID>"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "Only return estimates that have been updated since the given date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T00:00:00Z"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Only return estimates with an issue_date on or after the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Only return estimates with an issue_date on or before the given date.",
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Only return estimates with a state matching the value provided. Options: draft, sent, accepted, or declined.",
            "schema": {
              "type": "string"
            },
            "example": "sent"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to use in pagination. For instance, if you make a list request and receive 2000 records, your subsequent call can include page=2 to retrieve the next page of the list.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of records to return per page. Can range between 1 and 2000.",
            "schema": {
              "type": "integer"
            },
            "example": "2000"
          },
          {
            "name": "Harvest-Account-Id",
[...]
